
profiles {	
    standard {	
        process {	
            withName: 'denoisePacBioFiles' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'createFrequencyTables_PacBio' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'createAllAssignments' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createFrequencyTables_Illumina' {	
                cpus = 10	
                memory = 12.GB	
            }	
            withName: 'filterReads' {	
                cpus = 1	
                memory = 1.GB	
            }
            withName: 'createFrequencyPlots_Illumina' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createFrequencyPlots_PacBio' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createPacbioVsIlluminaPlots' {	
                cpus = 5	
                memory = 6.GB	
            }	
            withName: 'createVariableRegionComparisons' {	
                cpus = 5	
                memory = 6.GB	
            }	
            withName: 'createPacBioTree' {	
                cpus = 10	
                memory = 12.GB	
            }	
            
        }	
    }
    laptop {	
        process {	
            withName: 'denoisePacBioFiles' {	
                cpus = 4	
                memory = 8.GB	
            }	
            withName: 'createFrequencyTables_PacBio' {	
                cpus = 4
                memory = 8.GB	
            }	
            withName: 'createAllAssignments' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createFrequencyTables_Illumina' {	
                cpus = 4
                memory = 8.GB	
            }	
            withName: 'filterReads' {	
                cpus = 1	
                memory = 1.GB	
            }
            withName: 'createFrequencyPlots_Illumina' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createFrequencyPlots_PacBio' {	
                cpus = 1
                memory = 1.GB	
            }	
            withName: 'createPacbioVsIlluminaPlots' {	
                cpus = 2	
                memory = 4.GB	
            }	
            withName: 'createVariableRegionComparisons' {	
                cpus = 2	
                memory = 4.GB	
            }	
            withName: 'createPacBioTree' {	
                cpus = 1
                memory = 1.GB	
            }	
        }	
    }
    Cloud {	
        process {	
            withName: 'denoisePacBioFiles' {	
                cpus = 48	
                memory = 96.GB	
            }	
            withName: 'createFrequencyTables_PacBio' {	
                cpus = 48	
                memory = 96.GB	
            }	
            withName: 'createAllAssignments' {	
                cpus = 1	
                memory = 1.GB	
            }	
            withName: 'createFrequencyTables_Illumina' {	
                cpus = 48	
                memory = 96.GB	
            }	
            withName: 'filterReads' {	
                cpus = 1	
                memory = 1.GB	
            }
            withName: 'createFrequencyPlots_Illumina' {	
                cpus = 31	
                memory = 63.GB	
            }	
            withName: 'createFrequencyPlots_PacBio' {	
                cpus = 31	
                memory = 63.GB	
            }	
            withName: 'createPacbioVsIlluminaPlots' {	
                cpus = 31	
                memory = 63.GB	
            }	
            withName: 'createVariableRegionComparisons' {	
                cpus = 31	
                memory = 63.GB	
            }	
            withName: 'createPacBioTree' {	
                cpus = 31	
                memory = 63.GB	
            }	
        }	
    }
}

